*{
    --sx-color-primary: #ff0000 !important;
    --sx-color-on-primary: #fff !important;
    --sx-color-primary-container: #ffdddd !important;
    --sx-color-on-primary-container: #5e0000 !important;
    --sx-color-secondary: #715b5b !important;
    --sx-color-on-secondary: #fff !important;
    --sx-color-secondary-container: #f8dede !important;
    --sx-color-on-secondary-container: #2b1919 !important;
    --sx-color-tertiary: #7d5252 !important;
    --sx-color-on-tertiary: #fff !important;
    --sx-color-tertiary-container: #ffd8e4 !important;
    --sx-color-on-tertiary-container: #370b0b !important;
    --sx-color-surface: #fff7f7 !important;
    --sx-color-surface-dim: #e1d8d8 !important;
    --sx-color-surface-bright: #fff7f7 !important;
    --sx-color-on-surface: #1f1b1b !important;
    --sx-color-surface-container: #f3edf7 !important;
    --sx-color-surface-container-low: #f7f2fa !important;
    --sx-color-surface-container-high: #ece6f0 !important;
    --sx-color-background: #fff !important;
    --sx-color-on-background: #1c1b1f !important;
    --sx-color-outline: #79747e !important;
    --sx-color-outline-variant: #c4c7c5 !important;
    --sx-color-shadow: #000 !important;
    --sx-color-surface-tint: #a45050 !important;
    --sx-color-neutral: var(--sx-color-outline) !important;
    --sx-color-neutral-variant: var(--sx-color-outline-variant) !important;
    --sx-internal-color-gray-ripple-background: #e0e0e0 !important;
    --sx-internal-color-light-gray: #fafafa !important;
    --sx-internal-color-text: #000 !important;
}
